doctype
html( lang="en" )
    head
        title Join the #{community} community on Slack!
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/readable/bootstrap.min.css", rel="stylesheet")
 
    body(style="padding:10rem 2rem;")
        .container
            .row
                .jumbotron
                    h1 Join the #{community} community on Slack!

                    form(method="POST", action="/invite", role="form")#join-form
                        .form-group
                            label(for="slack-email") Email address
                            input(type="email", class="form-control", name="email", placeholder="Enter your email")#slack-email
                        button(type="submit", class="btn btn-primary") Submit

                        script.
                          var form = document.getElementById('join-form');
                          var email = document.getElementById('slack-email')
                          form.addEventListener('submit', function(evt) {
                            if (!email.value) {
                              evt.preventDefault();
                            }
                          });

        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )